<div class="feed-container">
  <div class="feed-item">
    <div class="content">
      <p class="user-info">
        <span class="profile-img">
          <img src="/static/img/profile.png" alt="프로필 이미지" />
        </span>
        <strong>User123</strong>
      </p>
      <img src="https://via.placeholder.com/600x400" alt="post" />
      <p>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세</p>
      <div class="get-tomato-sum">
        획득한 토마토<img
          class="tomato"
          src="/static/img/tomato.png"
          alt="획득 토마토"
        />
      </div>
      <div class="icon-container">
        <img src="../static/svg/suit-heart.svg" alt="하트 아이콘" />
        <img
          src="../static/svg/chat.svg"
          alt="채팅 아이콘"
          onclick="toggleCommentBox()"
        />
      </div>
    </div>
  </div>
</div>
