<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calender</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/calender.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/calender.js"></script>
  </head>
  <body>
    <header>
      <%- include("./shared/navbar") %>
      <a href="/" class="logo"
        ><img width="158" src="/static/img/logo.png" alt="로고 이미지"
      /></a>
    </header>
    <section class="calender">
      <div>
        <button class="imgButton leftbutton">
          <span class="text-hidden">왼쪽 이동 버튼</span>
        </button>
        <span id="month">11월</span>
        <button class="imgButton rightbutton">
          <span class="text-hidden">오른쪽 이동 버튼</span>
        </button>
      </div>
      <div>
        <button class="imgButton leftbutton">
          <span class="text-hidden">왼쪽 이동 버튼</span>
        </button>
        <div>
          <ul class="dayList">
            <li class="today">
              <span class="day">금</span><br /><span class="date">1</span>
            </li>
            <li>
              <span class="day">토</span><br /><span class="date">2</span>
            </li>
            <li>
              <span class="day">일</span><br /><span class="date">3</span>
            </li>
            <li>
              <span class="day">월</span><br /><span class="date">5</span>
            </li>
          </ul>
        </div>
        <button class="imgButton rightbutton">
          <span class="text-hidden">오른쪽 이동 버튼</span>
        </button>
      </div>
    </section>
    <section class="list-Wrap">
      <section class="todayTomato">오늘 수집한 토마토</section>
      <section class="todo-container"></section>
    </section>
  </body>
</html>
