<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/index.js"></script>
    <title>메인 페이지</title>
    <!-- 글씨체 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <header>
      <%- include("./shared/navbar") %>
      <a href="/" class="logo"
        ><img width="158" src="/static/img/logo.png" alt="로고 이미지"
      /></a>
    </header>
    <div class="feed-container">
      <div class="feed-item">
        <div class="content">
          <p><strong>User123</strong></p>
          <img src="https://via.placeholder.com/600x400" alt="post" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            reiciendis odit, itaque aut labore consectetur nesciunt vel quidem
            nulla nam nobis mollitia amet molestias dolore, quisquam blanditiis
            natus. Rerum, asperiores.
          </p>
          <div class="get-tomato-sum">
            획득한 토마토<img
              class="tomato"
              src="/static/img/tomato.png"
              alt="획득 토마토"
            />
          </div>
          <div class="icon-container">
            <img src="../static/svg/suit-heart.svg" alt="하트 아이콘" />
            <img
              src="../static/svg/chat.svg"
              alt="채팅 아이콘"
              onclick="toggleCommentBox()"
            />
          </div>
        </div>
      </div>

      <div class="feed-item">
        <div class="content">
          <p><strong>User456</strong></p>
          <img src="https://via.placeholder.com/600x400" alt="post" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            reiciendis odit, itaque aut labore consectetur nesciunt vel quidem
            nulla nam nobis mollitia amet molestias dolore, quisquam blanditiis
            natus. Rerum, asperiores.
          </p>
          <div class="get-tomato-sum">
            획득한 토마토<img
              class="tomato"
              src="/static/img/tomato.png"
              alt="획득 토마토"
            />
          </div>
          <div class="icon-container">
            <img src="../static/svg/suit-heart.svg" alt="하트 아이콘" />
            <img
              src="../static/svg/chat.svg"
              alt="채팅 아이콘"
              onclick="toggleCommentBox()"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- 댓글 입력창 -->
    <div class="comment-box" id="commentBox">
      <div class="input-container">
        <input type="text" id="commentInput" placeholder="댓글을 입력하세요." />
        <button onclick="submitComment()" class="send-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-send"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- 피드 올리는 아이콘 -->
    <div class="plus-icon">
      <img
        src="../static/svg/plus-circle-fill.svg"
        alt="피드 올리는 아이콘"
        onclick="goToFeed()"
      />
    </div>

    <script>
      function toggleCommentBox() {
        const commentBox = document.getElementById("commentBox");
        commentBox.classList.toggle("active");
        if (commentBox.classList.contains("active")) {
          document.getElementById("commentInput").focus();
        }
      }

      // 댓글 전송 함수
      function submitComment() {
        const commentInput = document.getElementById("commentInput");
        const comment = commentInput.value;

        if (comment) {
          // 여기에서 댓글을 서버에 저장할 수 있어요오오오오.
          commentInput.value = "";
          toggleCommentBox();
        }
      }
      // 피드 올리는 아이콘 클릭시 feed.ejs 파일로 ㄱ
      function goToFeed() {
        window.location.href = "./feed";
      }
    </script>
  </body>
</html>
