<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>

  <body>
    <h1>로그인</h1>
    <form action="/login" method="POST" class="loginForm">
      <input
        class="loginBox"
        type="text"
        id="userEmail"
        name="emailAddr"
        required
        placeholder="이메일을 입력해 주세요"
      />
      <input
        class="loginBox"
        type="password"
        id="userPw"
        name="password"
        required
        placeholder="비밀번호를 입력해 주세요"
      />

      <button class="loginBt" type="submit">로그인</button>

      <div class="lostE">
        <p style="font-size: 11px">email 또는 비밀번호를 잊어버리셨나요?</p>
        <a class="lostEp" href="/login/find">email & 비밀번호 찾기</a>
      </div>

      <!-- <div class="button1"></div> -->
    </form>
    <div class="newUser">
      <p style="font-size: 11px">계정이 없으신가요?</p>
      <a class="lostEp" href="/login/register">회원가입</a>
    </div>
  </body>
</html>
