body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f8f2f1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 55px;
}

.feed-container {
  width: 80%;
  max-width: 600px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 20px;
  text-align: center;
}

.feed-item {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.feed-item .content {
  padding: 15px;
}

.feed-item .content p {
  margin: 5px 0;
  font-size: 10px;
}

.get-tomato-sum {
  background-color: #f1f1f1;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 13px;
  padding: 5px;
  text-align: left;
  margin-top: 10px;
  height: 30px;
}

.icon-container {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.icon-container img {
  width: 13px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.comment-box {
  display: none;
  position: fixed;
  bottom: 48px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.comment-box.active {
  display: block;
  transform: translateY(0);
}
.input-container {
  position: relative;
  width: 100%;
}

.comment-box input {
  width: 90%;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-size: 14px;
}

.comment-box button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-box button:hover {
  background-color: gray;
}

.icon-container2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.plus-icon img {
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 35px;
}

.icon-container2 img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
.house {
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(0deg);
}

/* 피드 생성 아이콘 눌렀을 때 나오는 모달ㄹ창 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 30px;
  width: 75%;
  height: auto;
}
/* 부모요소때문에 방해되던 정렬을 왼쪽으로 바꿈 (유저id) */
.left-align {
  align-self: flex-start;
  text-align: left;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  color: #efefef;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.close:hover {
  color: #000;
}
.upload-container {
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 80%;
}

.upload-container:hover {
  border-color: #888;
}

.upload-container p {
  margin: 0;
  color: #888;
}

#imageUpload {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.file-name {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
#postContent {
  width: 80%;
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  border-color: #f0f0f0;
}
.get-tomato-sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  font-size: 13px;
  padding: 5px;
  margin-top: 10px;
  height: 30px;
  width: 80%;
}

.get-tomato-sum .tomato {
  width: 20px;
  margin-left: auto;
}

.create-button {
  background-color: #c9383e;
  color: #fff;
  border: #c9383e;
  border-radius: 10px;
  width: 230px;
  height: 30px;
  margin-top: 20px;
}
