body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f8f2f1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 55px;
}

.feed-container {
  width: 80%;
  max-width: 600px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-item {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.feed-item .content {
  padding: 15px;
}

.content.profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ccc;
}

.feed-item .content p {
  margin: 5px 0;
  font-size: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.get-tomato-sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  font-size: 13px;
  padding: 5px;
  margin-top: 10px;
  height: 30px;
}

.get-tomato-sum .tomato {
  width: 20px;
  margin-left: auto;
}

.icon-container {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.icon-container img {
  width: 13px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

/* 댓글 */
.comments-container {
  max-height: 150px;
  overflow-y: auto;
  padding: 10px;
}

.comment {
  display: flex;
  align-items: center;
  margin: 6px 0;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.comment-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  background-color: #fff;
  border-top: 1px solid #f9f9f9;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateY(100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 20;
}
/* 프로필 이미지 */
.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}
/* 댓글 내용 */
.comment-content {
  display: flex;
  flex-direction: column;
}

.comment-content strong {
  font-size: 0.8em;
  margin-bottom: 2px;
}
.comment-content p {
  font-size: 0.75em;
  color: #555;
}

.comment-box.active {
  transform: translateY(0);
}

.input-container {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #ddd;
}

.comment-box input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 0.9em;
}
.comment-actions {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.comment-actions button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.8em;
}

.comment-actions button:hover {
  text-decoration: underline;
}

.send-button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.send-button:hover {
  color: rgb(46, 46, 156);
}
.plus-icon {
  display: block;
}

.plus-icon img {
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 35px;
}
