.exclamation {
  background-image: url("/static/svg/exclamation-circle.svg");
  background-size: 25px;
}
.success {
  background-image: url("/static/svg/check-circle.svg");
  background-size: 25px;
}
.todoItem {
  background-color: #ffffff;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.todoItem > div {
  line-height: 1.3;
}
.todoItem > div > h3 {
  font-size: 15px;
  font-weight: 700;
}
.todoItem > div > p {
  font-size: 12px;
  font-weight: 500;
}
